<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-4.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	
	<!-- 扫描类包 自动将spring注解的类转化成bean 并完成注入 -->
	<context:component-scan base-package="com.electrombile" />
	
	<!-- 启用默认配置解析 -->
	<mvc:annotation-driven />
	<!-- <aop:aspectj-autoproxy  proxy-target-class="true"/> -->
	
	<!-- shiro -->
	<!-- 安全管理器 -->
<!-- 	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="adminRealm"></property>
		<property name="rememberMeManager" ref="rememberMeManager"/>
		<property name="sessionManager" ref="sessionManager"/>
		<property name="cacheManager" ref="redisCacheManager"></property>
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">  
    	<property name="securityManager" ref="securityManager"/> 
	</bean> -->
	
	<!-- <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.apache.shiro.authz.UnauthorizedException">forward:/manage/unauthorized</prop>
            </props>
        </property>
        <property name="statusCodes">
        	<props>     
                <prop key="errors/error">500</prop>
                <prop key="errors/404">404</prop>
            </props>
        </property>
    </bean> -->
	
	<!-- 过滤静态资源 (与vc:annotation-driven 一起用) 
	<mvc:resources mapping="/static/**" location="/static/"/>-->
	<mvc:resources mapping="/assets/**" location="/assets/"/>
	
	<!-- spring mvc jsp视图解析器 -->
 	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 用户登录URL拦截器 -->
  	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.electrombile.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	
</beans>