<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://cxf.apache.org/transports/http/configuration
		http://cxf.apache.org/schemas/configuration/http-conf.xsd
		http://cxf.apache.org/jaxws  
	    http://cxf.apache.org/schemas/jaxws.xsd ">
	<!-- service -->
	<bean id="memberService" class="com.electrombile.cxf.service.impl.MemberServiceImpl" />

	<bean id="baseCxfInterceptor" class="com.electrombile.interceptor.BaseCxfInterceptor">
		<constructor-arg value="receive" />
	</bean>

	<!-- 发布服务 使用jaxws:server和jaxws:endpoint可以发布服务 WebService地址=Tomcat地址值+CXF 
		Servlet的路径+ /weather -->
	<jaxws:server address="/member" serviceClass="com.electrombile.cxf.service.MemberService">
		<jaxws:serviceBean>
			<ref bean="memberService" />
		</jaxws:serviceBean>
	</jaxws:server>
	
</beans>